# ––––––––––––––––––––––––––––––––––––––––––––
#  Replace with host ip
# ––––––––––––––––––––––––––––––––––––––––––––

{
    auto_https off
}

mm01.magicmirror.lan:80 {
    reverse_proxy <replace_with_host_ip>:10001
}

mm02.magicmirror.lan:80 {
    reverse_proxy <replace_with_host_ip>:10002
}

mm03.magicmirror.lan:80 {
    reverse_proxy <replace_with_host_ip>:10003
}

mm04.magicmirror.lan:80 {
    reverse_proxy <replace_with_host_ip>:10004
}
